{% extends "dashboard/base.html" %}
{% block content %}

<div class="col-xs-9">

    <form action='/dashboard/blog/post/{{ post.slug }}/delete' method="POST">
        {{ csrf_field|safe }}
        <div class="form-group">
            <label>
                <h3>Are you sure you want to delete "{{ post.title }}"?</h3>
            </label> ​
        </div>
        <button type="delete" class="btn btn-primary">Delete</button>
         <a class="btn btn-primary" href="/dashboard/blog/main" role="button">Cancel</a>
    </form>

</div>



{% endblock %}